html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

