html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    color: #eeeeee;
    margin: 3vw;
}

h1{
    text-align: center;
    font-family: Montserrat;
    font-size: 3vw;
    font-weight: 600;
    color: orange;
}

a{
    font-family: Montserrat;
    font-size: 1.5vw;
    font-weight: 400;
    color:black;
    text-decoration: none;

    margin: 2vw 0;
}