html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height:100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    color: #eeeeee;
}

h1{
    text-align: center;
    font-family: Montserrat;
    font-size: 3vw;
    font-weight: 600;
    color: orange;
}